/* PHASE 8: Thumbs */
/* .thumbnail-bubble {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  bottom: 65px;
  margin: 0 auto;

} */
/*
.thumbnail-bubble:hover {


} */

a[title]:hover:after {
  content: attr(title);
  position: absolute;
  background-color: black;
  /* text-align: center; */
  /* right: 50%; */
  /* margin-right: 50%; */
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 10px;
  top: -35px;
}

.thumbnail:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -7px;
  border-top: 5px solid #000;
  border-bottom: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.thumbnail-list {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail:nth-child(3n+2) {
  /* margin: 7px; */
  margin: 3.5px 7px;
}

.thumbnail {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3.5px 0px;
  position: relative;
}

.thumbnail {
  width: 60px;
  height: 60px;
}
